{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "Exchange": {
    "ApiKey": "YOUR_DEV_API_KEY_HERE",
    "ApiSecret": "YOUR_DEV_API_SECRET_HERE"
  }
}

